<%- include('bootheader') -%>

<%- include('menubar') -%>



<div class="jumbotron">

         <h1>Quiz 1 Makeup<h1/>

 </div>

 <p> Write the HTML for this page including the includes for the bootheader and bootfooter,and all of the explanatory text too! </p>



 <div class="container">

        <div class="row">

                <div class="col-sm bg-primary">

                    This is the first column of the first row. <br>

                    It has a link to the  <a href="https://www.brandeis.edu/computer-science/" >

                    computer science webpage</a> whose address is https://www.brandeis.edu/computer-

                    science.<br>

                    The colors of the columns are either bg-primary or bg-danger

                  </div>

                   <div class="col bg-danger">

                      Column 2 has a picture of a cat with width 200

                       <img width="200"  src="images/cat.jpg">

                       There are five columns in this<br> row

                  </div>

                  <div class="col bg-primary">

                     This is dog.jpg

                      <img width="200"  src="images/dog.jpg">

                 </div>

                 <div class="col bg-danger">

                     cat.jpg

                     <img width="200"  src="images/cat.jpg">

                </div>

                <div class="col bg-primary">

                     dog.jpg

                    <img width="200"  src="images/dog.jpg"

               </div>



            </div>

            <div class="row">

               <div class="col bg-info">

                  <p>  This is the second row and it has two columns.The first column has this text and the<br>

                    background color is bg-info The second column has a table with the background color bg-           <br>warning </p>

                </div>

                <div class="col bg-warning">

                      Don't forget the thead or tbody in this table! <br> Observe that this table is bordered and striped.

                  <table class="table table-bordered table-striped">

                    <thead>

                          <tr><th> ONE </th> <th> TWO </th> <th> THREE </th><th> FOUR </th></tr>

                    </thead>

                     <tbody>

                           <tr><td> 1 </td> <td> 2 </td><td> 3 </td><td> 4 </td> </tr>

                           <tr><td> uno </td> <td> dos </td><td> tres </td><td> quatro </td> </tr>

                           <tr><td> ichi </td> <td> ni </td><td> san </td><td> shi </td> </tr>

                           <tr><td> 1 </td> <td> 10 </td><td> 11 </td><td> 100 </td> </tr>

                      </tbody>

                 </table>

                 </div>



                </div>

             </div>







<%- include('bootfooter') -%>
