<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>Pet finder </h1>
    <p> Hi well to pet finder. Here you will see multiple dog and you can choose
      which onces you would like to get.
   </p>
</div>


<h2>Here is a list of dog breed we have</h2>
<ul>
    <li><a href="https://www.akc.org/dog-breeds/poodle-standard/">Poodle</a></li>
    <li><a href="https://www.akc.org/dog-breeds/golden-retriever/">Golden retriever</a></li>
    <li><a href="https://www.akc.org/dog-breeds/bulldog/">Bull dogs</a></li>
</ul>



<div class="container">
      <div class="row">
              <div class="col">
                 <p> Here is a table that illistrates how much each dog breed on average weighs and if they shed or not.</p>
                 <br>
                 <table class="table table-bordered table-striped">
                  <thead>
                   <tr><th>Breed name</th><th>Weight</th><th>Does it shed</th></tr>
                   </thead>
                   <tbody>
                     <tr><td>Labrador retriever</td><td>75 pounds</td><td>Yes</td></tr>
                     <tr><td>Basset hound</td><td>25 pounds</td><td>No</td></tr>
                     <tr><td>Huskie</td><td>50 pounds<td>Yes</td></tr>
                   </tbody>
                 </table>
                </div>

          </div>








<%- include('bootfooter') -%>
