<%- include('bootheader') -%>
<%- include('menubar') -%>
    <h1>
      Pet Finder
    </h1>

<form method="post" action="/showPets" >
  Enter a number:
  <input type="number"
         name="num"><br>


  <input type="submit" value="Register now">
</form>

<hr>


<%- include('bootfooter') -%>
