<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Pet finder app !!!</h1>
        <p> This app allows potenital dog owners to look search for differnt types of dogs they
          would be interested in adopting
          in.
         </p>
    </div>
    <img width="200" src="images/dog.jpg">


<%- include('bootfooter') -%>
