<div class="jumbotron">
    <h1>Login to petfinder</h1>
    <p> You must login to see your pets</p>
    <a class="btn btn-danger" href="/auth/google">
        <span class="fa fa-google-plus"> Google</span>
    </a>
</div>
